body, div, ul {
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#map-data {
    background-color: black;
    color: white;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 10;
}
