<div id="map-container" ng-controller="MapController">
    <div id="map" bsd-map="map" api-key="AsmDtzooNdsTJqU8Yeve01jJDwbi8k3NKSjbgdOeOC_cqudSuOldrInCb-CJcDyg"></div>
    <div id="map-data">
        <a href ng-click="setCurrentPosition()">Set Current Position</a>
        <div ng-hide="selectedObject === null">
            [[ selectedObject.name ]]
        </div>
        <div id="predictions" class="scrollable" ng-hide="stopPredictions === null">
            <table>
                <tr>
                    <th>Bus</th>
                    <th>Due Time</th>
                </tr>
                <tr ng-repeat="prediction in stopPredictions track by $index">
                    <td>[[ prediction.bus.name ]]</td>
                    <td>[[ prediction.dueTime ]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-controller="MessageController">
    <ul>
        <li ng-repeat="message in currentMessages track by $index">
            [[ message ]] <a href ng-click="removeMessage($index)">X</a>
        </li>
    </ul>
</div>