* {
    font-family: 'Times New Roman', Times, serif !important;
}

body, div, ul {
    margin: 0;
    padding: 0;
}

.button {
    background-color: antiquewhite;
}

#map-container {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#map-data {
    position: absolute;
    top: 20px;
    left: 2px;
    z-index: 10;
}

#map-data #predictions {
    max-width: 250px;
    max-height: 150px;
}

#notifications {
    position: absolute;
    top: 500px;
    left: 2px;
    z-index: 10;
}

#notifications #message-list {
    max-width: 250px;
    max-height: 100px;
}

.error {
    background-color: slategrey;
    color: red;
}

.overlay {
    background: rgba(250, 235, 215, 0.9);
    color: black;
}

.header {
    font-size: larger;
    margin-bottom: 2px;
}

.scrollable {
    overflow:auto;
}

.map-pin div {
    font-size: 8pt !important;
}
